# Backend
MONGO_URL=mongodb://localhost:27017
DB_NAME=santia
CORS_ORIGINS=http://localhost:3000
AUTH_SECRET=change_me
AUTH_ALGORITHM=HS256
AUTH_TOKEN_EXPIRE_MINUTES=10080
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Admin Santia
ADMIN_PHONE=

# OpenEMR
OPENEMR_BASE_URL=http://localhost:8080
OPENEMR_SITE=default
OPENEMR_CLIENT_ID=santia-local
OPENEMR_CLIENT_SECRET=
OPENEMR_USERNAME=admin
OPENEMR_PASSWORD=admin123
OPENEMR_SCOPE=openid api:oemr user/patient.read user/patient.write user/appointment.write
OPENEMR_VERIFY_TLS=false
OPENEMR_COUNTRY_CODE=CM
OPENEMR_APPT_FACILITY_ID=3
OPENEMR_APPT_BILLING_LOCATION_ID=3
OPENEMR_PROVIDER_ID=1
OPENEMR_APPT_CATEGORY_ID=10
OPENEMR_APPT_DURATION=900
OPENEMR_APPT_STATUS=-
OPENEMR_APPT_TITLE=Teleconsultation

# Jitsi (teleconsultation)
JITSI_BASE_URL=http://localhost:8000
JITSI_ROOM_PREFIX=santia

# OpenIM (messagerie)
OPENIM_CHAT_BASE_URL=http://localhost:10008
OPENIM_ADMIN_BASE_URL=http://localhost:10009
OPENIM_API_BASE_URL=http://localhost:10002
OPENIM_ADMIN_ACCOUNT=chatAdmin
OPENIM_ADMIN_PASSWORD=
OPENIM_ADMIN_VERSION=1.0
OPENIM_PLATFORM_ID=5
