# General
TZ=Africa/Douala

# Frontend build (public URL for the backend)
PUBLIC_BACKEND_URL=http://localhost:8001

# Backend
DB_NAME=santia
CORS_ORIGINS=http://localhost:3000

# Mongo
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=change_me

# OpenEMR API (backend integration)
# When using docker compose, the backend should reach OpenEMR via http://openemr
OPENEMR_BASE_URL=http://openemr
OPENEMR_SITE_ADDR=http://localhost:8080
OPENEMR_REDIRECT_URI=http://localhost:8080
OPENEMR_SITE=default
OPENEMR_CLIENT_ID=santia-local
OPENEMR_CLIENT_SECRET=
OPENEMR_USERNAME=admin
OPENEMR_PASSWORD=admin123
OPENEMR_SCOPE=openid api:oemr user/patient.read user/patient.write user/appointment.write
OPENEMR_VERIFY_TLS=false
OPENEMR_COUNTRY_CODE=CM
OPENEMR_APPT_FACILITY_ID=3
OPENEMR_APPT_BILLING_LOCATION_ID=3
OPENEMR_PROVIDER_ID=1
OPENEMR_APPT_CATEGORY_ID=10
OPENEMR_APPT_DURATION=900
OPENEMR_APPT_STATUS=-
OPENEMR_APPT_TITLE=Teleconsultation

# OpenEMR container
OPENEMR_PORT=8080
OPENEMR_MYSQL_ROOT_PASSWORD=local_root_pass
OPENEMR_MYSQL_PASSWORD=local_openemr_pass
OPENEMR_ADMIN_PASSWORD=admin123

# Jitsi (backend integration)
# Use your public URL in production so patients can open the link
JITSI_BASE_URL=http://localhost:8000
JITSI_ROOM_PREFIX=santia

# Jitsi containers
JITSI_HTTP_PORT=8000
JITSI_JVB_PORT=10000
JITSI_PUBLIC_URL=http://localhost:8000
JITSI_XMPP_DOMAIN=meet.local
JITSI_ADVERTISE_IP=127.0.0.1
JITSI_JICOFO_COMPONENT_SECRET=change_me
JITSI_JICOFO_AUTH_PASSWORD=change_me
JITSI_JVB_AUTH_PASSWORD=change_me
